:root {
  --blue-shade-button: rgb(30, 62, 136);
  --grey-shade-bg: rgb(242, 242, 242);
  --blue-background: rgba(0, 0, 255, 0.891);
  --lightgrey: rgb(216, 216, 216);
  --dark-grey: rgb(64, 76, 84);
  --balanced-grey: rgb(107, 107, 107);
  --medium-grey: rgb(77, 76, 76);
  --border-radius: 1rem;
  --standard-padding: 1.5rem;
  --standard-margin: 0.7rem;
}

.cont {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #374550;
  color: #ffffff;
  text-align: center;
}

.content {
  margin: 0 auto;
  padding: 60px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 30px;
  font-weight: bold;
}

.content p {
  font-size: 1em;
  margin-bottom: 40px;
  line-height: 1.6;
  margin: 0 auto 30px;
  color: rgb(178, 177, 177);
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Space between the images */
}

.gallery-item {
  width: 110px; /* Fixed width for each image item */
  height: 110px; /* Fixed height for each image item */
  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Ensures the image covers the entire item box */
  display: block;
  border-radius: 10px;
}

.card-b {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  margin-bottom: 5px;
  margin-top: 3px;
  background-color: rgb(238, 235, 235);
}

.card-b .card-title {
  font-size: 0.8rem;
}

.head h2 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 10px;
}

.para p {
  text-align: center;
  font-size: 0.8rem;
}

.card-title i {
  font-size: 0.7rem;
}

.body-c {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.body-c .card-link {
  color: gray;
}

.blog {
  text-align: center;
  background-color: rgb(246, 242, 242);
  padding: 2.5rem;
}

.blog-heading {
  padding: 2rem;
}

.blog-option {
  list-style: none;
  display: flex;
  padding: 1rem;
  justify-content: center;
  margin-top: 30px;
}

.blog-option li {
  padding: 1rem;
  background-color: gray;
  font-weight: 500;
  font-size: 1rem;
  color: black;
}

.blog-option li:hover {
  background-color: blue;
  color: white;
}

.robin {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.image-gallery {
  height: 14rem;
}

.blog .card {
  height: 26rem;
}

.people-as .people-r {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.peoples {
  text-align: center;
}

.peoples-heading {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.logo-people {
  font-size: 3rem;
}

.link-people h5 {
  font-size: 1rem;
  color: #8b9ead;
}

.people-r {
  gap: 2rem;
}

.darkgreybg-mobile {
  display: none;
}

.darkgreybg {
  background-color: rgb(58, 57, 57);
}

.most-viewed {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.most-viewed h2 {
  margin: 0;
  color: white;
  text-align: center;
}

.most-viewed h3 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.most-viewed p {
  padding: 0;
  padding-left: 2px;
}

.most-viewed-items-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

.most-viewed-item {
  background-color: white;
  display: flex;
  width: 25%;
}

.most-viewed-img {
  margin: auto;
  width: 30%;
}

.most-viewed-item-details {
  width: 70%;
  padding: 0.8rem;
}

.most-viewed-item-details a {
  margin: 0;
  padding-left: 2px;
}

.most-viewed-item img {
  height: 100%;
  width: 100%;
}

.most-viewed-items-icons a {
  color: gray;
}

.footer-body {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.footer-1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-logo {
  text-align: center;
  padding: 1rem;
  background-color: #ebeef1;
}

.footer-logo i {
  font-size: 2rem;
}

.footer-1 h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #43484c;
}

.footer-1 h4 {
  font-size: 1rem;
  color: rgb(7, 102, 245);
}

.footer-email {
  display: flex;
}

.footer-last {
  background-color: rgb(102, 99, 99);
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-last-1 h5 {
  font-size: 1rem;
  padding-top: 1rem;
}

.footer-last-2 {
  font-size: 2rem;
}/*# sourceMappingURL=base.css.map */