:root {
  --blue-shade-button: rgb(30, 62, 136);
  --grey-shade-bg: rgb(242, 242, 242);
  --blue-background: rgba(0, 0, 255, 0.891);
  --lightgrey: rgb(216, 216, 216);
  --dark-grey: rgb(64, 76, 84);
  --balanced-grey: rgb(107, 107, 107);
  --medium-grey: rgb(77, 76, 76);
  --border-radius: 1rem;
  --standard-padding: 1.5rem;
  --standard-margin: 0.7rem;
}

.wrapper {
  width: 1280px;
  margin: auto;
}

.Navbar {
  background-color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}
.Navbar ul {
  display: flex-center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.Navbar ul li {
  margin-right: 20px;
  position: relative;
}
.Navbar ul li i {
  margin-right: 5px;
}
.Navbar ul li .dropdown-icon {
  margin-left: 5px;
}
.Navbar ul:last-child {
  margin-right: 0;
}

.nav1 {
  display: flex;
  align-items: center;
}

.nav2 {
  display: flex;
  align-items: center;
}

.nav3 {
  display: flex;
  align-items: center;
}

.Navbar-a {
  background-color: rgb(250, 250, 250);
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.nav-heading {
  margin-top: 1rem;
}

.nav-icon {
  display: flex;
  justify-content: center;
}

.nav-icon div {
  padding: 0 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-icon i {
  align-self: center;
}

.nav-icon lable {
  font-size: 0.7rem;
  font-weight: 350;
  text-align: center;
}

.nav-search {
  padding-top: 1.5rem;
  width: 30%;
}
.nav-search .search {
  width: 80%;
  height: 50%;
  border: none;
  margin: -4px;
  padding: 0;
}
.nav-search .All {
  height: 50%;
  margin: 0px;
  border: none;
  background-color: blue;
  color: white;
}
.nav-search .glass {
  height: 50%;
  margin: 0px;
  border: none;
  background-color: blue;
  color: white;
}

.nav-items {
  padding-top: 0.9rem;
}

.ham {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: blue;
}

.nav-items a {
  font-size: 1rem;
  vertical-align: top;
}

.nav-items i {
  color: white;
}

nav {
  background-color: blue;
  margin: auto;
}

.dept {
  display: flex;
  justify-content: space-between;
}

.department {
  list-style-type: none;
}

.department ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.department li {
  padding: 1rem;
  display: inline-block;
  color: black;
}

.department li a {
  vertical-align: middle;
  font-size: 1rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

.department li a:hover {
  font-size: 1rem;
  padding: 1rem 0.5rem;
  background-color: yellow;
  color: black;
}

.b-1 {
  padding: var(--standard-padding);
  display: flex;
  -moz-column-gap: var(--standard-padding);
       column-gap: var(--standard-padding);
  justify-content: space-around;
  border-radius: var(--border-radius);
}

.b-b-1 {
  width: 80%;
  border-radius: var(--border-radius);
  display: flex;
}

.carousel-caption d-none d-md-block .btn {
  background-color: rgb(236, 236, 240);
  color: white;
  border: none;
  font-size: medium;
  border: none;
}

.carousal-btn:hover {
  background-color: blue;
  color: white;
}

.carousel-caption {
  background-color: transparent !important;
  padding: 85px 2px !important;
}

.b-b-2 {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--standard-padding);
  width: 30%;
  row-gap: var(--standard-padding);
}

.b-b-21 {
  width: 85%;
}

.navgray {
  display: flex;
  justify-content: space-around;
  background-color: rgb(64, 76, 84);
}

.gray1 {
  display: flex;
  padding: 10px;
  gap: 1rem;
}

.grayicon {
  text-align: center;
}

.graytext {
  padding: 0px;
  margin: 0px;
}

.main {
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.sub {
  color: rgb(216, 216, 216);
  font-size: 12px;
}

.c-1 {
  text-align: center;
}

.Options {
  list-style: none;
  display: flex;
  padding: 1rem;
  justify-content: center;
  margin-top: 30px;
}

.Options li {
  padding: 1rem;
  background-color: var(--lightgrey);
  font-weight: 500;
  font-size: 1rem;
  color: var(--medium-grey);
}

.Options li:hover {
  background-color: var(--blue-background);
  color: white;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.heading-c {
  font-weight: bold;
  margin-top: 30px;
}

.para-c {
  margin-top: 30px;
}

.da-1 {
  text-align: center;
  background-color: rgb(250, 247, 247);
}

.Options-d {
  list-style: none;
  display: flex;
  padding: 1rem;
  justify-content: center;
  margin-top: 30px;
}

.Options-d li {
  padding: 1rem;
  background-color: var(--lightgrey);
  font-weight: 500;
  font-size: 1rem;
  color: var(--medium-grey);
}

.Options-d li:hover {
  background-color: var(--blue-background);
  color: white;
}

.card-d {
  display: flex;
  justify-content: space-around;
}

.heading-d {
  margin-top: 1.5rem;
}

.card-body {
  display: flex;
  justify-content: space-between;
  background-color: var(--lightgrey);
  padding: 2px;
  padding-top: 4px;
}

.card-title {
  color: gray;
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 15px;
}

.list-group-item {
  text-align: left;
}

.card-img-top {
  height: 15rem;
}

input[type=number] {
  width: 40px;
  font-size: 15px;
  text-align: center;
}

li button {
  font-size: 0.9rem;
  background-color: rgb(3, 60, 247);
  color: white;
}

.card-body {
  background-color: var(--lightgrey);
  padding: 2px;
  padding-top: 4px;
}

.card-link {
  color: gray;
  font-size: 0.8rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.list-group-item div {
  display: flex;
  justify-content: space-between;
}

.y {
  gap: 0.8rem;
  padding-top: 0.4rem;
}

.card {
  height: 25rem;
}

.btn-d {
  background-color: blue;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: white;
}

.e-allabove {
  background-color: rgb(202, 201, 201);
  text-align: center;
}

.e-all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.fashion {
  background-color: rgb(234, 231, 231);
  height: 30rem;
  width: 16rem;
}

.fashion .c-body {
  text-align: left;
  margin-top: 1rem;
  margin-left: 1rem;
}

.fashion .g-item {
  text-align: left;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.fashion img {
  width: 13rem;
  height: 13rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.fashion h4 {
  text-align: left;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.ab {
  display: flex;
  justify-content: space-between;
}

.a button {
  background-color: blue;
  color: white;
}

.fashion2 {
  width: 80%;
  height: 30rem;
  align-items: center;
  background-color: white;
}

.fashion2-heading {
  text-align: left;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.fashion-3 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.fashion-3 .card {
  height: 22rem;
}

.fashion-3 .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
}

.fashion-3 .g-items {
  margin-left: 1rem;
  text-align: left;
}

.fashion-3 .card-title {
  font-size: 0.9rem;
  margin-left: 0.1rem;
}

.fashion-3 .c-body {
  text-align: left;
}

.shop-heading {
  text-align: center;
  margin-top: 3rem;
}

.slider img {
  width: 100px;
  height: 100px;
  animation: scroll 60s linear infinite;
  border: 1px solid rgb(230, 227, 227);
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 2em;
  overflow: hidden;
}

.slider {
  margin-top: 40px;
  padding: 3em 2em;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}/*# sourceMappingURL=header.css.map */