@media screen and (max-width: 786px) {
  .b-1 {
    display: flex;
    flex-direction: column;
  }
  .b-b-1 {
    width: 100%;
  }
  .b-b-1 .carousel-item {
    height: 38vh !important;
  }
  .b-b-1 .carousel-caption {
    background-color: transparent !important;
    padding: 20px 1px !important;
  }
  .b-b-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2.2rem;
    width: 100%;
  }
  .bb-21 {
    width: 50%;
  }
  .bb-21 img {
    width: 100%;
  }
  .Navbar-mobile {
    display: block;
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 114, 255);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .Navbar-mobile .nav2 {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .Navbar-mobile .nav2 lable {
    color: white;
  }
  .Navbar {
    display: none;
  }
  .Navbar-a-mobile {
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .Navbar-a-mobile .nav-heading {
    padding-left: 2rem;
  }
  .Navbar-a-mobile .icon {
    font-size: 2rem;
    margin-top: 0.5rem;
    gap: 4rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }
  .Navbar-a {
    display: none;
  }
  .dept {
    display: none;
  }
  .navgray {
    display: none;
  }
  .navgray-mobile {
    display: block;
    display: flex;
    justify-content: space-around;
    background-color: rgb(64, 76, 84);
  }
  .navgray-mobile .gray1 {
    display: flex;
    padding: 10px;
    padding-left: 13px;
    padding-top: 15px;
    gap: 1rem;
  }
  .navgray-mobile .grayicon {
    text-align: center;
    font-size: 1.2rem;
  }
  .navgray-mobile .graytext {
    padding: 0px;
    margin: 0px;
    font-size: 2rem;
  }
  .c-1 {
    display: none;
  }
  .c-1-mobile {
    display: block;
    padding: 2rem;
  }
  .c-1-mobile .Options {
    list-style: none;
    display: flex;
    padding: 1rem;
    justify-content: center;
    margin-top: 30px;
  }
  .c-1-mobile .Options li {
    padding: 1rem;
    background-color: var(--lightgrey);
    font-weight: 500;
    font-size: 1rem;
    color: var(--medium-grey);
  }
  .c-1-mobile .Options li:hover {
    background-color: var(--blue-background);
    color: white;
  }
  .c-1-mobile .carousel-item img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .c-1-mobile .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
  .c-1-mobile .carousel-inner {
    padding: 2rem;
  }
  .c-1-mobile .heading-c {
    font-weight: bold;
    margin-top: 30px;
  }
  .c-1-mobile .para-c {
    margin-top: 30px;
  }
  .c-1-mobile .card {
    width: 100%;
  }
  .Options-d {
    display: none;
  }
  .tab-container-1 {
    display: block;
  }
  .tab-container-1 {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .tab-menu {
    list-style: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    width: -moz-fit-content;
    width: fit-content; /* Adjust the width of the container */
    justify-content: center;
  }
  .tab-item {
    flex: 0 0 50%; /* Each tab takes 50% of the width of the row */
    padding: 10px 20px;
    cursor: pointer;
    color: #6b6b6b; /* Grey text color */
    font-weight: bold;
    position: relative; /* For positioning the triangle */
    text-align: center;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  .tab-item:hover {
    background-color: blue;
    color: white;
  }
  .e-all {
    display: flex;
    flex-direction: column;
  }
  .e-all .wrapper {
    display: none;
  }
  .e-all .fashion {
    width: 100%;
    height: 100%;
  }
  .e-all .fashion2 {
    width: 100%;
    height: 100%;
  }
  .e-all .fashion3 {
    width: 100%;
    height: 100%;
  }
  .cont .content {
    width: 100%;
    padding: 30px;
  }
  .wrapper {
    width: 100%;
  }
  .blog {
    padding: 1rem;
  }
  .blog .robin {
    width: 100%;
    gap: 3.5rem;
  }
  .people-as .para-people {
    padding: 1rem;
  }
  .footer .footer-logo {
    width: 100%;
  }
  .footer .footer-body {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .footer .footer-body .footer-1 {
    padding-left: 2rem;
    padding-bottom: 0;
  }
  .footer-last {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-d .card {
    height: 30rem;
    width: 26rem !important;
  }
  .fashion-3 .card {
    height: 30rem;
    width: 26rem !important;
  }
  .fashion-3 .card img {
    height: 20rem;
  }
  .fashion-3 .g-items {
    font-size: 1.5rem !important;
  }
  .fashion-3 .list-group-item .ab button {
    font-size: 1.5rem !important;
  }
  .fashion-3 .list-group-item .ab .b {
    gap: 0.5rem;
  }
  .fashion-3 .list-group-item .ab i {
    font-size: 2rem !important;
  }
  .fashion-3 .c-body .card-title {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 538px) {
  .Navbar-a-mobile .icon {
    gap: 0px;
  }
  .Navbar-a-mobile .e-all {
    display: flex;
    flex-direction: column;
  }
  .Navbar-a-mobile .e-all .wrapper {
    display: none;
  }
  .Navbar-a-mobile .e-all .fashion {
    width: 100%;
    height: 100%;
  }
  .Navbar-a-mobile .e-all .fashion2 {
    width: 100%;
    height: 100%;
  }
  .Navbar-a-mobile .e-all .fashion3 {
    width: 100%;
    height: 100%;
  }
  .Navbar-mobile .nav2 {
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
  .b-b-1 .carousel-item {
    height: 28vh !important;
  }
  .wrapper {
    width: 100%;
  }
  .darkgreybg {
    display: none;
  }
  .darkgreybg-mobile {
    display: block;
    background-color: rgb(58, 57, 57);
  }
  .darkgreybg-mobile .most-viewed {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .darkgreybg-mobile .most-viewed h2 {
    margin: 0;
    color: white;
    text-align: center;
  }
  .darkgreybg-mobile .most-viewed h3 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .darkgreybg-mobile .most-viewed p {
    padding: 0;
    padding-left: 2px;
  }
  .darkgreybg-mobile .most-viewed-items-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
  }
  .darkgreybg-mobile .most-viewed-item {
    background-color: white;
    display: flex;
    width: 75%;
    height: 70%;
  }
  .darkgreybg-mobile .most-viewed-img {
    margin: auto;
    width: 30%;
  }
  .darkgreybg-mobile .most-viewed-item-details {
    width: 70%;
    padding: 0.8rem;
  }
  .darkgreybg-mobile .most-viewed-item-details a {
    margin: 0;
    padding-left: 2px;
  }
  .darkgreybg-mobile .most-viewed-item img {
    height: 100%;
    width: 100%;
  }
  .darkgreybg-mobile .most-viewed-items-icons a {
    color: gray;
  }
}
@media screen and (max-width: 413px) {
  .wrapper {
    width: 100%;
  }
  .Navbar-a-mobile {
    gap: 0.5rem;
  }
  .Navbar-a-mobile .nav-heading {
    padding-left: 0.5rem;
  }
  .Navbar-a-mobile .icon {
    gap: 0px;
  }
  .Navbar-mobile .nav2 {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .b-b-1 .carousel-item {
    height: 28vh !important;
  }
  .c-1-mobile #z {
    height: 30vh;
    width: 51vh;
  }
  .e-all {
    display: flex;
    flex-direction: column;
  }
  .e-all .wrapper {
    display: none;
  }
  .e-all .fashion {
    width: 100%;
    height: 100%;
  }
  .e-all .fashion2 {
    width: 100%;
    height: 100%;
  }
  .e-all .fashion3 {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=media.css.map */